{% if not bare %}<!doctype html>{% endif %}

<style>
    body {
        font-family: roboto, sans-serif;
    }

    {% if bare %}div.page-content > h1 {
        margin-top: 0;
    }{% endif %}

    .page-content table.results {
        overflow: unset;
    }

    .page-content table.results details {
        padding: 0;
        border: none;
    }

    .page-content details > summary {
        outline: none;
    }

    details.dictionary-info {
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #e9ecef;
        border-radius: 0.25rem;
    }

    details p:last-child {
        margin-bottom: 0;
    }

    form {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
    }

    form > input:first-child {
        flex: 1;
        border: 1px solid black;
        border-radius: 0;
        margin-right: 1rem;
    }

    table.results {
        width: 100%;
    }

    .small {
        font-size: 0.7rem;
    }

    .pos-v, .pos-v:visited {
        color: #e37729;
        font-weight: bold;
    }

    .pos-n, .pos-n:visited {
        color: darkgreen;
        font-weight: bold;
    }

    .pos-adv, .pos-conj, .pos-ques, .pos-excl, .pos-adv:visited, .pos-conj:visited, .pos-ques:visited, .pos-excl:visited {
        color: blue;
        font-weight: bold;
    }

    .pos-sen, .pos-sen:visited {
        color: black;
        font-weight: bold;
    }

    .pos-affix, .pos-affix:visited {
        color: #c40000;
        font-weight: bold;
    }
</style>

{% if not bare %}
{% include "side-bar.jinja2" %}
{% endif %}

<div class=page-content>

    <h1>{{ lang.dictionary }}</h1>

    <details class="dictionary-info">
        <summary>{{ lang.dictionary_info }}</summary>

        <p>Based on the <a href="https://github.com/De7vID/klingon-assistant-data">boQwI' dictionary data</a> version {{ boqwiz_version }}.</p>

        <p>Example queries:</p>

        <table>
            <tr>
                <th>Hegh</th>
                <td>Searches for entries that contain the Klingon word "Hegh" in their title</td>
            </tr>
            <tr>
                <th>kill</th>
                <td>Searches for entries that contain the English word "kill" in their definition or search tags</td>
            </tr>
            <tr>
                <th>tlh:"'e' yI"</th>
                <td>Searches for entries that contain the Klingon text "'e' yI" with a space (complex imperative sentences)</td>
            </tr>
            <tr>
                <th>pos:name</th>
                <td>Searches for entries that have the part of speech tag "name"</td>
            </tr>
            <tr>
                <th>if pos:suff</th>
                <td>Searches for "if" in entries that have the part of speech tag "suff"</td>
            </tr>
            <tr>
                <th>pos:v pos:deriv</th>
                <td>Searches for verb entries that have the part of speech tag "deriv"</td>
            </tr>
            <tr>
                <th>components:-pu' components:-mey</th>
                <td>Searches for entries that have both -pu' and -mey in their components field (sentences that contain both suffixes)</td>
            </tr>
            <tr>
                <th>components:-pu' OR components:-mey</th>
                <td>Searches for entries that have either -pu' or -mey (or both) in their components field</td>
            </tr>
        </table>

        <p>Available operators:</p>

        <table>
            <tr>
                <th>tlh:</th>
                <td>Entry name</td>
            </tr>
            <tr>
                <th>en:</th>
                <td>English definition and search tags</td>
            </tr>
            <tr>
                <th>de:</th>
                <td>German definition and search tags</td>
            </tr>
            <tr>
                <th>pt:</th>
                <td>Portuguese definition and search tags</td>
            </tr>
            <tr>
                <th>fi:</th>
                <td>Finnish definition and search tags</td>
            </tr>
            <tr>
                <th>sv:</th>
                <td>Swedish definition and search tags</td>
            </tr>
            <tr>
                <th>pos:</th>
                <td>Contained in the part of speech tags</td>
            </tr>
            <tr>
                <th>notes:</th>
                <td>English notes</td>
            </tr>
            <tr>
                <th>ex:</th>
                <td>English examples</td>
            </tr>
            <tr>
                <th>components:</th>
                <td>Contained in the components list</td>
            </tr>
            <tr>
                <th>synonym:</th>
                <td>Contained in the synonym list</td>
            </tr>
            <tr>
                <th>antonym:</th>
                <td>Contained in the antonym list</td>
            </tr>
            <tr>
                <th>see:</th>
                <td>Contained in the see also list</td>
            </tr>
            <tr>
                <th>AND</th>
                <td>Require both conditions to be true (default)</td>
            </tr>
            <tr>
                <th>OR</th>
                <td>Require one of the conditions to be true</td>
            </tr>
        </table>
    </details>

    <form method=get action="">
        <input type=text name=q value="{{ input }}" autocomplete=off>
        <input type=submit value="{{ lang.search }}">
    </form>

    {% include "entries.jinja2" %}

</div>