{% if not bare %}<!doctype html>{% endif %}

<style>
    body {
        font-family: roboto, sans-serif;
    }

    {% if bare %}div.page-content > h1 {
        margin-top: 0;
    }{% endif %}

    .results {
        white-space: pre-wrap;
        font-family: serif;
    }

    .results .error {
        text-decoration: red underline wavy;
    }

    form {
        width: 100%;
    }

    textarea {
        width: 100%;
        border-radius: 5px;
        font-family: serif;
        border: 1px solid black;
        border-radius: 0;
        margin-bottom: 1rem;
    }

    input[type=submit] {
        width: 100%;
    }
</style>

{% if not bare %}
{% include "side-bar.jinja2" %}
{% endif %}

<div class=page-content>

    <h1>{{ lang.proofreader }}</h1>

    <form id=input_form>

        <textarea id=input_text name="text" rows=10></textarea><br>

        <input type=submit value="{{ lang.check }}">

    </form>

    <div id=results_view class=results></div>

</div>

<script>
    const NO_ERRORS = `{{ lang.no_errors }}`
    const ERRORS_MARKED = `<p>{{ lang.errors_marked }}</p>`
    input_form.onsubmit = function proofread(event) {
        var text = input_text.value
        if (text.length > 0) {
            fetch("/api/proofread", {
                method: "POST",
                headers: {
                    "Content-Type": 'text/plain'
                },
                body: text
            })
            .then(response => response.json())
            .then(data => updateResults(data))
        }
        event.preventDefault()
    }

    function updateResults(data) {
        if (data.n_errors == 0) {
            results_view.innerHTML = NO_ERRORS
        } else {
            results_view.innerHTML = ERRORS_MARKED + data.render
        }
    }
        
</script>